<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="stylesheets/comment.css" />
    </head>
    <body>
        <template class="comment-template">
            <li class="comment">
                <div class="head-comment">
                    <h4 class="name"></h4>
                    <div class="rating-result"></div>
                </div>
                <p class="comment-text"></p>
                <h5 class="date"></h5>
            </li>
        </template>
    </body>
</html>
