<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="stylesheets/clear-stock.css" />
        <link rel="stylesheet" href="stylesheets/header.css" />
    </head>

    <body>
        <header class="header">
            <h1><a href="/">OTEL</a></h1>
            <h2 class="otel-info"><a href="otel_info.php">об отеле</a></h2>
            <div>
                <h2><a href="rooms.php">номера</a></h2>
                <h2><a href="">контакты</a></h2>
                <h2><a href="">отзывы</a></h2>
            </div>
        </header>
    </body>
</html>
