<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="stylesheets/room.css" />
    </head>

    <body>
        <li class="room">
            <div class="slider-container">
                <div class="slider">
                    <img src="images/room.jpg" />
                    <img src="images/otel-outside.jpg" />
                </div>
                <button
                    class="prev-button"
                    aria-label="Посмотреть предыдущий слайд"
                >
                    &lt;
                </button>
                <button
                    class="next-button"
                    aria-label="Посмотреть следующий слайд"
                >
                    &gt
                </button>
            </div>
            <script src="javascripts/slider.js"></script>

            <h3 class="type">тип: люкс</h3>
            <h3 class="capacity">количество мест: 2</h3>
            <h3 class="description">описание: классно</h3>
            <h3 class="price">стоимость: 10.000</h3>
            <button class="btn">Бронировать</button>
        </li>
    </body>
</html>
