.mini-info {
    padding: 200px;

    .location {
        width: 600px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #ffffff;

        text-align: center;
        padding: 10px;
        font-size: 32px;

        margin: auto;
    }
}

.main {
    padding: 50px;

    ul {
        li {
            margin: 20px;
            display: flex;
            justify-content: space-between;

            align-content: center;
            text-align: center;

            div {
                align-content: center;
                width: 60%;

                h3 {
                    font-size: 25px;
                }
            }

            img {
                width: 30%;
            }
        }
    }
}
