.rating-result {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: 55px;
    opacity: 0;
    transition: opacity 0.3s;
}

.rating-result:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.rating-result {
    left: 50%;

    margin-left: 100px;

    span {
        padding: 0;
        font-size: 70px;
        margin: 0 3px;
        line-height: 1;
        color: lightgrey;

        ::before {
            content: "★";
        }
    }

    .active {
        color: gold;
    }

    .active-1 {
        background: linear-gradient(
            to right,
            gold,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey
        );
        color: transparent;
        background-clip: text;
    }

    .active-2 {
        background: linear-gradient(
            to right,
            gold,
            gold,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey
        );
        color: transparent;
        background-clip: text;
    }

    .active-3 {
        background: linear-gradient(
            to right,
            gold,
            gold,
            gold,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey
        );
        color: transparent;
        background-clip: text;
    }

    .active-4 {
        background: linear-gradient(
            to right,
            gold,
            gold,
            gold,
            gold,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey
        );
        color: transparent;
        background-clip: text;
    }

    .active-5 {
        background: linear-gradient(
            to right,
            gold,
            gold,
            gold,
            gold,
            gold,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey
        );
        color: transparent;
        background-clip: text;
    }

    .active-6 {
        background: linear-gradient(
            to right,
            gold,
            gold,
            gold,
            gold,
            gold,
            gold,
            lightgrey,
            lightgrey,
            lightgrey,
            lightgrey
        );
        color: transparent;
        background-clip: text;
    }

    .active-7 {
        background: linear-gradient(
            to right,
            gold,
            gold,
            gold,
            gold,
            gold,
            gold,
            gold,
            lightgrey,
            lightgrey,
            lightgrey
        );
        color: transparent;
        background-clip: text;
    }

    .active-8 {
        background: linear-gradient(
            to right,
            gold,
            gold,
            gold,
            gold,
            gold,
            gold,
            gold,
            gold,
            lightgrey,
            lightgrey
        );
        color: transparent;
        background-clip: text;
    }

    .active-9 {
        background: linear-gradient(
            to right,
            gold,
            gold,
            gold,
            gold,
            gold,
            gold,
            gold,
            gold,
            gold,
            lightgrey
        );
        color: transparent;
        background-clip: text;
    }
}
